# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
package-lock.json

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Nativewind
nativewind-env.d.ts
tailwind.config.js.map

# Firebase
firebase-debug.log
google-services.json
GoogleService-Info.plist

# Environment
.env
.env*.local

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.code-workspace

# typescript
*.tsbuildinfo

# local examples or experiments
app-example
scripts/local*

# generated native folders
/ios
/android
